# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.hdrp_unity.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Projet\PullGithub\hdrp_unity\hdrp_unity\hdrp_unity\.idea\.idea.hdrp_unity\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
